<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Reseturant App</a>
    <button class="navbar-toggler"  (click)="toggleNavbar()"  type="button" data-toggle="collapse" 
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" ngClass="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="_auth.LoggedIn()">
          <a class="nav-link" routerLink='/reservation/list'>Reservations</a>
        </li>
      </ul> 
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <ng-container *ngIf="!_auth.LoggedIn()">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink='/register'>Register</a>
        </li>
      </ng-container>
        <li class="nav-item active" routerLinkActive="active" *ngIf="_auth.LoggedIn()">
            <a class="nav-link cursor-p" (click)="logout()">LogOut</a>
       
       
        </li>
      </ul>
   
    </div>
  </div>

</nav>