<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-header" [ngClass]="{'text-right':localization.IsArabic()}">
           <span > {{'Reservation.list' | translate}}</span>
           <button  routerLink='/reservation/add' class="btn btn-success btn-add"
           [ngClass]="{'float-left':localization.IsArabic()}"
           >{{'Reservation.add' | translate}}</button>
        </div>
        <div class="card-body">
          <table class="table" [ngClass]="{'RTL':localization.IsArabic()}">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'Reservation.tableNum' | translate}}</th>
                <th scope="col">{{'Reservation.numsOfPeople' | translate}}</th>
                <th scope="col">{{'Reservation.foodType' | translate}}</th>
                <th scope="col">{{'Reservation.notes' | translate}}</th>
                <th scope="col">{{'Reservation.reservationDate' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of ListOfReservations">
               <td> {{res.tableNumber}}</td>
               <td> {{res.numOfPeople}}</td>
               <td> {{ localization.IsArabic()? res.foodType?.nameAr : res.foodType?.name }}</td>
               <td> {{res.notes}}</td>
               <td>{{ res.creationDate | date:'yyyy/MM/dd'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>